---
import ProjectCard from "@/ui/ProjectCard.astro";
import type { MarkdownInstance } from "astro";

interface Frontmatter {
  title: string;
  image: string;
  content: string;
}

const projects = Object.values(
  import.meta.glob<MarkdownInstance<Frontmatter>>(
    "../../content/projects/*.md",
    {
      eager: true,
    },
  ),
);
console.log(projects);
---

<section
  id="projects"
  class="from-primary/50 to-bg-base-100 min-h-[70vh] bg-gradient-to-br pt-24 pb-16"
>
  <div class="container mx-auto px-4">
    <h2 class="font-display mb-8 text-3xl font-semibold">Projects.</h2>
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        projects.map((project) => (
          <ProjectCard
            title={project.frontmatter.title}
            image={project.frontmatter.image}
            content={project.frontmatter.content}
          />
        ))
      }
    </div>
  </div>
</section>
