---
import { ChevronLeft } from "@lucide/astro";
---

<section id="about" class="min-h-[70vh] pt-24 pb-16">
  <div class="container mx-auto px-4">
    <h2 class="font-display mb-8 text-3xl font-semibold">Thank you.</h2>
    <p class="mb-4 font-sans">
      Thank you for saying hello! I'll get back to you as soon as possible.
    </p>
    <a href="/" class="btn btn-primary text-base-content group font-sans">
      <ChevronLeft
        class="transition-transform group-hover:-translate-x-1 group-active:-translate-x-1"
      />
      Back Home
    </a>
  </div>
</section>
